.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &--right {
      margin-left: auto;
    }

    &--left {
      margin-right: auto;
    }
  }

  &__icon {
    color: var(--color-honey);
  }
}
